.panel-body {
  padding: 5px;
  img {
    width: 100%;
    border-radius: 2%;
  }
}

h5 {
  font-size: 16px;
  font-weight: 700;
  color: #3a3c41;
  margin-top: 5px;
  margin-bottom: 1px;

  small{
    font-weight: bold;
    font-size: 12px;
    font-style: italic;
  }
}

img {
  transform: scale(1,1);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
}

.panel:hover img{
  transform: scale(1.2,1.2);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
  opacity: 0.7;
}
.panel-image{
  overflow: hidden;
  position: relative;
}
.member-icons {
  position: absolute;
  bottom: -30%;
  left: 2%;
  right: 0;
  margin-top: auto;
  margin-bottom: auto;
  opacity: 0;
}
.panel:hover .member-icons {
  bottom: 10px;
  opacity: 1;
}
.animate {
  transition: all 0.3s ease-in-out;
}

@media (max-width: 700px) {
  .btn {
    padding: 2px;
    font-size: 80%;
    line-height: 1;
  }
}
