img.thumbnail {
  /*height: 100px;*/
  width: 100px;
  height: 100px;
  margin-bottom: 2px;
}
.my-drop-zone { border: dotted 3px lightgray; }
.nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
.another-file-over-class { border: dotted 3px green; }

input[type=file]{
  color: transparent;
}
