<form [formGroup]="registerForm" (ngSubmit)="register()">

  <h2 class="text-center text-primary">Sign Up</h2>

  <hr>

  <div class="form-group">
    <label class="control-label" style="margin-right:10px">I am a: </label>
    <label class="radio-inline">
      <input type="radio" value="male" formControlName="gender">Male
    </label>
    <label class="radio-inline">
      <input type="radio" value="female" formControlName="gender">Female
    </label>
  </div>
  <div class="form-group" [ngClass]="{'has-error' : registerForm.get('username').errors && registerForm.get('username').touched} " >
    <input type="text" class="form-control" placeholder="Username" formControlName="username">
    <span class="help-block" *ngIf="registerForm.get('username').getError('required') && registerForm.get('username').touched">
      Username is required.
    </span>
    <span class="help-block" *ngIf="registerForm.get('username').getError('minlength') && registerForm.get('username').touched">
      Username is too short.
    </span>
    <span class="help-block" *ngIf="registerForm.get('username').getError('maxlength') && registerForm.get('username').touched">
      Username is too long.
    </span>
  </div>

  <div class="form-group" [ngClass]="{'has-error': registerForm.get('knownAs').touched && registerForm.get('knownAs').hasError('required')}">
    <input class="form-control" placeholder="Known as" formControlName="knownAs">
    <span class="help-block" *ngIf="registerForm.get('knownAs').touched && registerForm.get('knownAs').hasError('required')">Known as is required</span>
  </div>

  <div class="form-group" [ngClass]="{'has-error': registerForm.get('dateOfBirth').touched && registerForm.get('dateOfBirth').hasError('required')}">
    <input class="form-control" type="text" bsDatepicker #dp="bsDatepicker" [bsConfig]="bsConfig" placeholder="Date of Birth" formControlName="dateOfBirth">
    <span class="help-block" *ngIf="registerForm.get('dateOfBirth').touched && registerForm.get('dateOfBirth').hasError('required')">Date of birth is required</span>
  </div>

  <div class="form-group" [ngClass]="{'has-error': registerForm.get('city').touched && registerForm.get('city').hasError('required')}">
    <input class="form-control" placeholder="City" formControlName="city">
    <span class="help-block" *ngIf="registerForm.get('city').touched && registerForm.get('city').hasError('required')">City is required</span>
  </div>

  <div class="form-group" [ngClass]="{'has-error': registerForm.get('country').touched && registerForm.get('country').hasError('required')}">
    <input class="form-control" placeholder="Country" formControlName="country">
    <span class="help-block" *ngIf="registerForm.get('country').touched && registerForm.get('country').hasError('required')">Country is required</span>
  </div>

  <div class="form-group" [ngClass]="{'has-error' : registerForm.get('password').errors && registerForm.get('password').touched}" >
    <input type="password" class="form-control" placeholder="Password" formControlName="password">
    <span class="help-block" *ngIf="registerForm.get('password').getError('required') && registerForm.get('password').touched">
      Password is required.
    </span>
    <span class="help-block" *ngIf="registerForm.get('password').getError('minlength') && registerForm.get('password').touched">
      Password is too short.
    </span>
    <span class="help-block" *ngIf="registerForm.get('password').getError('maxlength') && registerForm.get('password').touched">
      Password is too long.
    </span>
  </div>
  <div class="form-group" [ngClass]="{'has-error' : registerForm.get('confirmPassword').errors
    && registerForm.get('confirmPassword').touched || registerForm.get('confirmPassword').touched
    && registerForm.hasError('mismatch')}">
    <input type="password" class="form-control" placeholder="Confirm Password" formControlName="confirmPassword">
    <span class="help-block" *ngIf="registerForm.get('confirmPassword').getError('required') && registerForm.get('confirmPassword').touched">
      Confirm Password is required.
    </span>
    <span class="help-block" *ngIf="registerForm.get('confirmPassword').touched && registerForm.hasError('mismatch')">
      Confirm Password must match Password.
    </span>
  </div>

  <div class="form-group text-center">
    <button class="btn btn-success" type="submit" [disabled]="!registerForm.valid">Register</button>
    <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
  </div>
</form>

